<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>io.infinit.Nurse.helper</string>
	<key>OnDemand</key>
	<true/>
	<key>RunAtLoad</key>
	<false/>
	<key>KeepAlive</key>
	<false/>
	<key>MachServices</key>
	<dict>
		<key>io.infinit.Nurse.helper</key>
		<true/>
	</dict>
</dict>
</plist>
