---
AlwaysBreakAfterReturnType:                     All
AlwaysBreakTemplateDeclarations:                true
BreakBeforeBraces:                              Allman
BreakConstructorInitializersBeforeComma:        true
Language:                                       Cpp
NamespaceIndentation:                           All
PenaltyReturnTypeOnItsOwnLine:                  0
PointerAlignment:                               Left
