[submodule "miniupnp"]
	path = src/elle/reactor/modules/miniupnp
	url = ../miniupnp
	fetchRecurseSubmodules = false
[submodule "libutp"]
	path = src/elle/reactor/modules/libutp
	url = ../libutp
	fetchRecurseSubmodules = false
[submodule "osxfuse"]
	path = src/elle/reactor/modules/osxfuse
	url = https://github.com/osxfuse/osxfuse
	fetchRecurseSubmodules = false
[submodule "dokany"]
	path = src/elle/reactor/modules/dokany
	url = ../dokan
	fetchRecurseSubmodules = false
[submodule "src/elle/reactor/modules/cpp-netlib/uri"]
	path = src/elle/reactor/modules/cpp-netlib/uri
	url = https://github.com/cpp-netlib/uri
