[MESSAGES CONTROL]
	disable=abstract-method, broad-except, no-else-return, no-self-use, redefined-outer-name, expression-not-assigned, pointless-statement, too-few-public-methods, protected-access, too-many-arguments

[FORMAT]
indent-string='  '
indent-after-paren=2

[MISCELLANEOUS]

notes=
