@import "/static/css/reset.css";

h1, h2 {
	color: transparent;
	background-color: rgba(82,96,117,0.3);
	-webkit-background-clip: text;
	text-shadow: rgba(255,255,255,0.3) 0 5px 6px;
}

body {

	font-family: "Courier New", Courier, monospace;
	background-image:url('/static/images/concrete_wall.png');
	color: #454545;

	label, input {
		font-size: 1.1em;
		width: 10em;
		margin-top: 5px;
		padding: 5px;
	}

	label {
		text-align: right;
		width: 15em;
		display: inline-block;
	}

	input {
		border: none;
		border-radius: 3px;
		box-shadow: inset 0 0 3px #555;
	}
	input[type=submit]{
		box-shadow: 0 0 3px #555;
	}
	input[type=submit]:hover{
		box-shadow: 0 0 1px #555;
	}

	input:hover, input:focus {
	}

	div#header, div#content, div#footer {
		width: 87%;
		width: 940px;
		margin: 10px auto;
		padding: 20px;
		border-radius: 3px;
	}

	div#header {
		margin-top: 0;
		padding-top: 10px;
		.toolbar {
			padding-top: 28px;
			float: right;
		}
		.logo {
			height: 50px;
		}
	}

	div#content {
		background-color: rgba(255, 255, 255, 0.5);
		min-height: 300px;
		padding: 20px;
	}

}
