<div>
	<!--! TODO javascript to detect platform, and emphase it -->
	<ul>
		<li><a href="http://downloads.infinit.im/win32/binaries/installer.exe">Windows installer (32bit)</a></li>
		<li><a href="http://downloads.infinit.im/win64/binaries/installer.exe">Windows installer (64bit)</a></li>
		<li><a href="http://downloads.infinit.im/linux32/binaries/installer.exe">Linux installer (32bit)</a></li>
		<li><a href="http://downloads.infinit.im/linux64/binaries/installer.exe">Linux installer (64bit)</a></li>
		<li><a href="http://downloads.infinit.im/macosx32/binaries/installer.dmg">MacOSX installer (32bit)</a></li>
		<li><a href="http://downloads.infinit.im/macosx64/binaries/installer.dmg">MacOSX installer (64bit)</a></li>
	</ul>
</div>
