<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:py="http://genshi.edgewall.org/"
	xml:lang="en"
	lang="en">
	<head>
		<title> Infinit </title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet/less" href="/static/css/styles.less" />
		<link rel="icon" type="image/png" href="/static/images/favico.png" />
		<script src="/static/js/less-1.3.0.min.js"></script>
	</head>
	<body>

		<div id="header">
			<div class="toolbar">
				<py:if test="user.id is None">
				<a href="/login">Log In</a>
				</py:if>
				<py:if test="user.id is not None">
				Welcome <b>${user.fullname}</b> -
				<a href="/logout">Log out</a>
				</py:if>
			</div>
			<span class="logo">
				<a href="/"><img src="/static/images/infinit_logo.png" alt="Infinit"/></a>
			</span>
			<span class="tagline"></span>
		</div>

		<div id="content">
<!-- start content -->
${content}
<!-- end content -->
		</div>

		<div id="footer"></div>

	</body>
</html>

