<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:py="http://genshi.edgewall.org/"
	xml:lang="en"
	lang="en">
	<head>
		<title> Infinit </title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" href="/static/styles.css" media="screen" title="no title" charset="utf-8" />
		<link rel="icon" type="image/png" href="/static/favico.png" />
	</head>
	<body>

		<div id="header">
			<span class="logo">
				<a href="/">∞</a>
			</span>
			<div class="toolbar">
				<py:if test="user.id is None">
				<a href="/login">Log In</a>
				</py:if>
				<py:if test="user.id is not None">
				Welcome <b>${user.fullname}</b> -
				<a href="/logout">Log out</a>
				</py:if>
			</div>
		</div>

		<div id="body">
<!-- start content -->
${content}
<!-- end content -->
		</div>

		<div id="footer"></div>

	</body>
</html>

