<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>io.infinit.FinderPlugin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BD7212B516317BEC00B2AB22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD740F3B1630333C0093157A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BDD9D62C163167D8007B941A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BDD9D6581631685B007B941A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
