<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xml:lang="en" lang="en"
      >
	<head>
		<title> Infinit.io </title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet/less" type="text/css" href="/static/css/styles.less" />
		<script type="text/javascript" src="/static/js/less-1.1.5.min.js"></script>
		<script type="text/javascript" src="/static/js/pyjs/core/core.js"></script>
	</head>
	<body>
		<div id="header">
			<div>
				<py:if test="user is not None">
				<a href="/logout">Logout</a>
				</py:if>
				<py:if test="user is None">
				<a href="/login">Login</a>
				- <a href="/register">Register</a>
				</py:if>
			</div>
			<h1>Infinit.io</h1>
		</div>
		${html_body}
	</body>
</html>

